@use '../utils/variables' as *;
.button {
  color: $main-light;
  background-color: $main-dark;
  padding: 10px 20px;
  border: 1px solid $main-dark;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.2s ease;
  font-weight: 700;
  &:hover {
    color: $main-dark;
    background-color: $main-light;
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(1, 46, 65, 0.5);
  }
  &:active {
    transform: scale(0.95);
  }
  & span {
    position: relative;
    z-index: 1;
  }
}
