@use './variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Raleway:wght@400;700&family=Satisfy&family=Pacifico&display=swap');

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-weight: 400;
  color: $main-dark;
  line-height: 1.5;
  font-size: 16px;
  font-family: 'Inter', 'Raleway' sans-serif;
  background-color: $background;
  @media (max-width: $bp-tablet) {
    font-size: 14px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-family: 'Raleway', serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 20px;
  color: blue;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
