@use './variables' as *;

h2 {
  color: $accent-dark;
  font-size: 32px;
  text-align: center;
  @media (max-width: $bp-tablet) {
    font-size: 24x;
  }
}

h3 {
  margin-left: 24px;
  color: $accent-dark;
  font-size: 28px;
  padding: 12px 0;
  @media (max-width: $bp-tablet) {
    font-size: 20x;
  }
}
h4 {
  font-size: 18px;
  margin: 12px 0 0 24px;
}
p {
  padding-bottom: 4px;
  font-weight: 400;
  font-size: 16px;
  @media (max-width: $bp-tablet) {
    font-size: 14px;
  }
}
